
*.pdb
*.exe
*bin
*/Debug/*
*Release
*obj
*.suo
*.user
*gen
*.sdf
*xbmc-src*
*.xbt
Thumbs.db
*.opensdf
/old
/XBMCTools/Updater/bin
/XBMCTools/Updater/obj
=======
*bin*
*.user
*.class
*.suo
_ReSharper.*
*.ReSharper.user
*.resharper.user
*xbmcremote
/XBMCTools/InfoEditor/bin
/XBMCTools/bin
/XBMCTools/InfoEditor/obj
/XBMCTools/AndroidRemoteControl/bin
/XBMCTools/AndroidRemoteControl/gen
/XBMCTools/XBMCToolsLib/obj
/XBMCTools/RemoteKeyCodes/obj
/XBMCTools/AnroidRemoteClient/gen
/skins/skin.malamber.zip
/skins/release
/remote/bin